.notification_button{
    background:transparent;
    border-color:transparent;
    &:hover{
        border-color:rgba(255,255,255,0.3);
        @include box-shadow(rgba(0, 0, 0, 0.8), 0, 0, 5px);
    }
    span, button{
        position:absolute;
    }
    span{
        background: url("/theme/images/icons/small/warning_inactive.png");
        width:16px;
        height:16px;
        display:block;
        top:2px !important;
        left:2px !important;
    }
    button{
        top:0;
        left:0;
        bottom:0;
        right:0;
        background:transparent;
    }
    &.active{
        span{
            background: url("/theme/images/icons/small/warning_active.png");
        }
        &:hover{
            @include linear-gradient(color-stops( rgba(0,0,0,0.1) ,rgba(0,0,0,0.1)50%, rgba(0,0,0,0.2)50%, rgba(0,0,0,0.2) ));
        }
    }
}