.x-container-intro_nav{
    border-top:1px solid rgba(255,255,255,0.45);
    border-bottom:1px solid rgba(0,0,0,0.5);
    @include linear-gradient(color-stops(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)));
    .x-box-inner{
        overflow:visible;
    }


}

.x-container-intro_nav.side_nav{
    @include linear-gradient(color-stops(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)));
    background-color:rgba(0,0,0,0.2);
    -moz-box-shadow:inset 0px -2px 20px rgba(0,0,0,0.3);
    -webkit-box-shadow:inset 0px -2px 20px rgba(0,0,0,0.3);
    @include box-shadow(rgba(0,0,0,0.3), 0px,-2px, 20px, 0px, true);
    border-right:1px solid rgba(0, 0, 0, 0.3);
    overflow:hidden !important;
    border-top:none;
}

.app_intro_portal{
    border:none;
    border-top:1px solid rgba(255,255,255,0.45);
    border-bottom:1px solid rgba(0,0,0,0.3);
    .x-panel-body:first-child{
        border:none;

    }
    .x-box-layout-ct, .x-box-inner{
        overflow:visible;
    }
}