@mixin language_icon($icon_name){
    background: url("/theme/images/icons/large/"+$icon_name+".png")
}

.icon_ruby{
    @include language_icon("ruby")
}

.icon_cplus{
    @include language_icon("cplus")
}

.icon_csharp{
    @include language_icon("csharp")
}

.icon_java{
    @include language_icon("java")
}

.icon_node{
    @include language_icon("node")
}

.icon_perl{
    @include language_icon("perl")
}

.icon_php{
    @include language_icon("php")
}

.icon_python{
    @include language_icon("python")
}

.icon_home{
    @include language_icon("home")
}

.icon_active_warning{
    background: url("/theme/images/icons/small/warning_active.png");
}

.icon_inactive_warning{
    background: url("/theme/images/icons/small/warning_inactive.png");
}