$include-ie: false;
$include-ff: true;
$include-chrome: true;
$include-safari: true;
$include-opera: false;
$compile-all: false;


$include-default: false;

$base-color: #cfcfcf;
$button-default-base-color-over: #ccc;
$button-default-background-color-pressed:#ddd;

@import 'compass';
@import 'ext4/default/all';


@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
@include extjs-datepicker;
@include extjs-colorpicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
@include extjs-form-field;
@include extjs-form-fieldset;
@include extjs-form-file;
@include extjs-form-checkboxfield;
@include extjs-form-checkboxgroup;
@include extjs-form-triggerfield;
@include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
@include extjs-slider;
@include extjs-progress;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-tree;
@include extjs-drawcomponent;
@include extjs-viewport;
@include extjs-dragdrop;
@include extjs-resizable;
@include extjs-splitter;
@include extjs-layout;
@include extjs-tool;
@include extjs-scroller;

@include extjs-html;


body {
    background: #444;
}

$theme-color: #444;

@import "widgets/all";
@import "icons";
@import "other";