<!DOCTYPE html>
<html>
<head>
  <title>Interpretor</title>
  <%= stylesheet_link_tag    "/theme/css/theme.css" %>
  <%# stylesheet_link_tag    "/ext/resources/css/ext-all.css" %>
  <%= javascript_include_tag "/ext/ext-all-debug.js", "/CodeMirror/js/codemirror.js","http://faye.interpretor.ro:9292/faye.js", "/raphael.js" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    .codemirror-iframe {
        background: white;
        color: black;
    }

    .CodeMirror-line-numbers {
        font-size: 10pt;
        margin: 0.4em;
        font-family: monospace;
        text-align: right;
    }

    .CodeMirror-wrapping{
        height:auto !important;
    }



</style>
</head>
<body>

<%= yield %>

</body>
</html>
